/data/email.csv
/data/spam_Emails_data.csv
/data/trspam.csv
/data/tr_email_spam.csv
/spam_model_v1.h5
/tokenizer.pickle
/tokenizer2.pickle
/spam_model_v2.h5
/spam_model_v3.h5
/tokenizer3.pickle
/final_spam_model.keras
/l2_spam_model.keras
/spam_detector_model.keras
/super_spam_model.keras
/super_tfidf.pkl
/tfidf_vectorizer.pkl
/tokenizer.pkl
